<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <!--指定日志的输出方式-->
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <!--与上述<Console>中 name保持一致-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>